@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: rgb(17 24 39);
}

.dark body {
  background-color: rgb(17 24 39);
  color: white;
}
